/* Notice */
.notice {
  font-size: 13px;
  z-index: 2;
  position: relative;
  align-items: center;
}

.notbtn1 {
  padding-left: 25px;
  padding-right: 25px;
  background-color: var(--secondery-black);
  border-radius: 25px;
}

.notbtn2 {
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid var(--primary-color);
}

.notbtn2:hover {
  background: var(--primary-color);
  transition: 0.4s;
}
