/* Service */

.servCard {
  background-color: var(--card-bg);
  padding: 18px;
  padding-top: 28px;
  padding-bottom: 8px;
  border: 1px solid var(--third-gray);
  z-index: 5;
}

.servCard:hover {
  margin-top: 0;
  margin-bottom: 13px;
  transition: 0.5s;
}

.servLogo {
  display: inline-block;
  background-color: var(--card-bg);
  padding: 11px;
  color: var(--fifth-violet);
  font-size: 33px;
}

.servCardTitel {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
}
.servDetail {
  color: var(--third-gray);
  font-size: 14px;
}

.servNext {
  display: inline-block;
  padding: 18px;
  margin-top: 28px;
  border: 1px solid var(--third-gray);
}

.servNext:hover {
  background-color: var(--fourth-white);
  color: var(--secondery-black);
  transition: 0.6s;
}
